<%= form_for(@competitorgame) do |f| %>
  <% if @competitorgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitorgame.errors.count, "error") %> prohibited this competitorgame from being saved:</h2>

      <ul>
      <% @competitorgame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :competitor_id %><br>
    <%= f.text_field :competitor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
