<div class="jumbotron">
<p id="notice"><%= notice %></p>

<h1>Federações</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Bandeira</th>
      <th>Nome</th>
      <th>Ações</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @federations.each do |federation| %>
      <tr>
				<td><%= image_tag federation.flag, class: "flag" %></td>
        <td><%= federation.name %></td>
        <td><%= link_to 'Mostrar', federation %></td>
        <td><%= link_to 'Editar', edit_federation_path(federation) %></td>
        <td><%= link_to 'Destruir', federation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Federação', new_federation_path,  class: "btn btn-raised" %>
</div>