<%= form_for(@competitor) do |f| %>
  <% if @competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% @competitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :sex, "Sexo"%><br>
      <div class="col-md-10">
        <div class="radio radio-primary">
          <label>
            <%= f.radio_button :sex,"Masculino" %><span class="circle"></span><span class="check"></span>
            <%= label_tag(:sex_male, "Masculino") %>
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <%= f.radio_button :sex, "Feminino" %><span class="circle"></span><span class="check"></span>
            <%= label_tag(:sex_female, "Feminino") %>
          </label>
        </div>
      </div>
    </div>
    <br>
    <br>

  <div class="form-group">
    <%= f.label :federation_id, "Federação" %><br>
    <%= f.select :federation_id, Federation.all.map {|m| [m.name,m.id]} %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-raised" %>
  </div>
<% end %>
